.color-game,
.color-display {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.color-display {
  margin-bottom: 20px;
}
.Box0,
.Box1,
.Box2,
.Box3,
.Box4,
.Box5,
.Box6 {
  width: 10em;
  height: 9em;
  background-color: red;
  border: 5px solid black;
  border-radius: 2em;
}

.Box1,
.Box2,
.Box3,
.Box4,
.Box5,
.Box6 {
  background-color: blue;
}

.color-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
